<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Vajra</title>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
    body {
      background-color: black;
    }
  </style>
</head>

<body>
  <div style="height: 150px;"></div>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="row-content mt-5">
        <img src="/static/img/vajra.png" class="img-fluid">
      </div>
    </div>
  </div>
</body>

</html>