aiohttp==3.7.4.post0
APScheduler==3.6.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==17.4.0
Automat==0.6.0
blinker==1.4
certifi==2020.6.20
certstream==1.10
cffi==1.14.0
chardet==3.0.4
click==6.7
cloud-init==20.3
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
crlf==1.0
cryptography==2.9.2
decorator==4.4.2
distro-info===0.18ubuntu0.18.04.1
dnspython==2.1.0
EditorConfig==0.12.3
eventlet==0.30.2
filelock==3.0.12
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
httplib2==0.9.2
hyperlink==17.3.1
idna==2.10
idna-ssl==1.1.0
incremental==16.10.1
Jinja2==2.10
jsbeautifier==1.13.5
JSMon==1.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.6.2
MarkupSafe==1.0
mmh3==2.5.1
multidict==5.1.0
netifaces==0.10.4
oauthlib==2.0.6
PAM==0.4.2
pbr==5.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==19.1.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.5
python-debian==0.1.32
python-decouple==3.4
python-telegram-bot==13.3
python3-dtls==1.0.3
pytz==2021.1
pyxdg==0.25
PyYAML==5.3.1
requests==2.24.0
requests-file==1.5.1
requests-unixsocket==0.1.5
SecretStorage==2.3.1
service-identity==16.0.0
six==1.15.0
slackclient==2.9.3
ssh-import-id==5.7
systemd-python==234
termcolor==1.1.0
testresources==2.0.1
tld==0.12.5
tldextract==3.1.0
tornado==6.1
tqdm==4.59.0
Twisted==17.9.0
typing-extensions==3.7.4.3
tzlocal==2.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.10
validators==0.18.2
websocket-client==0.48.0
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
